{{!-- handlebars/html layout for login form --}}
<form id="login-form" class="d-flex flex-column align-items-center justify-content-center">
    <p id="login-title" class="my-5">
        Login to your account
    </p>
    <div class="mb-5 form-elements col-10 col-md-7">
        <label for="email-login" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp" placeholder="&#xf0e0">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-5 form-elements col-10 col-md-7">
        <label for="password-login" class="form-label">Password</label>
        <input type="password" class="form-control text-info" id="password-login" placeholder="&#xf023">
    </div>
    <button type="submit" class="btn btn-info bg-gradient col-10 col-md-7">Login</button>
    <hr class="border border-dark border-1 opacity-25 col-7 my-5">
    <p class="mb-5">
        New to petSpace? <a href="/signup" class="text-info ms-3">Sign Up</a>
    </p>
    
</form>
{{!-- import login script --}}
<script src="/javascript/login.js"></script>