<form id="login-form" class="d-flex flex-column align-items-center justify-content-center">
    <p id="login-title" class="mb-5">
        Login to your account
    </p>
    <div class="mb-5 form-elements col-sm-7">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email address">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-5 form-elements col-sm-7">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-info bg-gradient col-sm-7">Login</button>
    <hr class="border border-dark border-1 opacity-25 col-sm-6 my-5">
    <p>
        New to petSpace? <a href="#" class="text-info ms-3">Sign Up</a>
    </p>
</form>