<form id="signup-form" class="d-flex flex-column align-items-center justify-content-center">
    <p id="signup-title" class="my-5">
        Sign up for a free account
    </p>
    <div class="mb-5 form-elements col-sm-7">
        <label for="username-signup" class="form-label">Username</label>
        <input type="text" class="form-control" id="username-signup" placeholder="&#xf007">
    </div>
    <div class="mb-5 form-elements col-sm-7">
        <label for="email-signup" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp" placeholder="&#xf0e0">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-5 form-elements col-sm-7">
        <label for="password-signup" class="form-label">Password</label>
        <input type="password" class="form-control text-info" id="password-signup" placeholder="&#xf023">
    </div>
    <button type="submit" class="btn btn-info bg-gradient col-sm-7">Signup</button>
    <hr class="border border-dark border-1 opacity-25 col-sm-6 my-5">
    
</form>

<script src="/javascript/signup.js"></script>